<!DOCTYPE html>
<html>
  <head>
    <title>Formulario Express</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Nuevo usuario</h1>
    <form action="/nuevo" method="POST">
      <input type="text" name="nombre" placeholder="Nombre">
      <input type="text" name="edad" placeholder="Edad">
      <input type="submit" value="Guardar">
    </form>
  </body>
</html>
