<!DOCTYPE html>
<html>
  <head>
    <title>Ejemplos de express</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <img src="/images/logo_node.png" alt="" style="width: 50%">
    <h1>Ejemplos de express</h1>
    <ul>
      <li>
        <a href="/pepito">Render Pepito</a>
      </li>
      <li>
        <a href="/formulario">Formulario</a>
      </li>
      <li>
        <a href="/archivos">Ruta principal de archivos</a>
      </li>
      <li>
        <a href="/archivos/leer">Leemos los datos que guardamos</a>
      </li>
    </ul>
  </body>
</html>
