<!DOCTYPE html>
<html>
  <head>
    <title>Ejemplos de express</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <img src="/images/logo_node.png" alt="" style="width: 50%">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSKgzXicbt0NfjbBFG8F0a-ALPBiYcvxqZ-D1415PgoqzaUwY3PmQ" alt="" style="width: 200px">
    <h1>Ejemplos de express</h1>
    <h2>Hola mamá, me la estoy rifando!!</h2>
    <ul>
      <li>
        <a href="/pepito">Render Pepito</a>
      </li>
      <li>
        <a href="/formulario">Formulario</a>
      </li>
      <li>
        <a href="/archivos">Ruta principal de archivos</a>
      </li>
      <li>
        <a href="/archivos/leer">Leemos los datos que guardamos</a>
      </li>
      <li>
        <a href="/comandos">Ejecutar comandos del parametro ?cmd=ls</a>
      </li>
    </ul>
  </body>
</html>
