<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Pepito</h1>
    <%= numero + 2 %>
    <p>Hola <%= title %></p>
    <% if (nuevo) { %>
      <span><%= nuevo %></span>
    <% } %>
  </body>
</html>
