<html>
  <head>
    <title>Leer archivo</title>
  </head>
  <body>
    <div>
      <label for="">Nombre</label>
      <span><%= nombre %></span>
    </div>
    <div>
      <label for="">Edad</label>
      <span><%= edad %></span>
    </div>
  </body>
</html>